Source: ignition-transport3
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 7.0.50~),
               python,
               ruby-ronn,
               libprotoc-dev,
               libprotobuf-dev,
               libignition-msgs0-dev (>> 0.6.999),
               protobuf-compiler,
               uuid-dev,
               libzmq3-dev (>= 3.0.0)
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-transport3-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-transport3-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-transport

Package: libignition-transport3
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Transport Library - Shared library

Package: libignition-transport3-dev
Architecture: any
Section: libdevel
Depends: libignition-transport3 (= ${binary:Version}),
         uuid-dev,
         libzmq3-dev (>= 3.0.0),
         libignition-msgs0-dev (>> 0.6.999),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics transport Library - Development files

Package: libignition-transport3-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-transport3 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics transport Library - Debugging symbols
