Source: ignition-transport6
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 11),
               doxygen,
               python,
               ruby-ronn,
               libprotoc-dev,
               libprotobuf-dev,
               libignition-msgs3-dev,
               libignition-cmake2-dev,
               libignition-tools-dev,
               protobuf-compiler,
               uuid-dev,
               libzmq3-dev (>= 3.0.0),
               libsqlite3-dev
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-transport6-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-transport6-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-transport

Package: libignition-transport6
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Transport Library - Shared library

Package: libignition-transport6-dev
Architecture: any
Section: libdevel
Depends: libignition-transport6 (= ${binary:Version}),
         uuid-dev,
         libzmq3-dev (>= 3.0.0),
         libsqlite3-dev,
         libignition-msgs3-dev,
         libignition-cmake2-dev,
         libignition-tools-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics transport Library - Development files
