Source: ignition-transport
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 7.0.50~),
               python,
               ruby-ronn,
               libprotoc-dev,
               libprotobuf-dev,
               protobuf-compiler,
               uuid-dev,
               libzmq3-dev (>= 3.0.0)
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-transport-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-transport-release
Homepage: https://bitbucket.org/ignitionrobotics/ign-transport

Package: libignition-transport0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Transport Library - Shared library

Package: libignition-transport-dev
Depends: libignition-transport0-dev, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
This is a transitional dummy package. It can safely be removed.

Package: libignition-transport0-dev
Architecture: any
Section: libdevel
Depends: libignition-transport0 (= ${binary:Version}),
         uuid-dev,
         libzmq3-dev (>= 3.0.0),
         ${misc:Depends}
Replaces: libignition-transport-dev (<< 0.9.0)
Breaks: libignition-transport-dev (<< 0.9.0)
Multi-Arch: same
Description: Ignition Robotics transport Library - Development files

Package: libignition-transport0-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-transport0 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics transport Library - Debugging symbols
